

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<b>@ViewBag.Title;</b><br /><br />


@section sidebar{

   

    <p>
        At <b>@DateTime.Now.ToLocalTime()</b>, you will start to know how to get a <b>JSON / XML</b> Dataset 
        from a <b>MS SQL Database,</b> using <b>ASP.NET Web API (Restful Webservice), jQuery, Ajax</b> and <b>Bootstrap</b>
        to make the application suitable for different screens, divices and browser.

        I am, as always using <b>Visual Studio</b>.
    </p>


}

   Welcome, feel free to take a look at the simple dataset as a webservice...




